<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Available Slots</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <style>
        body{
            background: linear-gradient(
                135deg,
                #fce7f3,
                #ede9fe,
                #dbeafe
            );
            margin:0;
        }
    </style>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

    <a class="navbar-brand fw-bold">TrekVista</a>


</nav>

<!-- Form -->
<div class="container my-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <h3 class="text-center mb-4 fw-bold">
                        Update Slots
                    </h3>

                    <form method="POST">

                        <div class="mb-4">

                            <label class="form-label fw-semibold">
                                Available Slots
                            </label>

                            <input
                                type="number"
                                name="slots"
                                value="{{ trek.available_slots }}"
                                class="form-control form-control-lg">

                        </div>

                        <div class="d-grid">

                            <button type="submit"
                                    class="btn btn-primary btn-lg rounded-pill">
                                Update Slots
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>