<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Staffs</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
             background: linear-gradient(
        135deg,
        #fce7f3,
        #ede9fe,
        #dbeafe)
        }

        
        .card {
            border-radius: 10px;
        }
        
    </style>
</head>

<body>

<!-- 🔹 NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand">TrekVista</a>

        <div ms-auto>
        <a href="/admin_dashboard" class="btn text-white">Back</a>
        
            </div>
    </div>
</nav>

<div class="container mt-4">

   <h2 class="mb-4 text-center">Staff Management</h2>
   <h5 class="text-center">Manage staff accounts, assign responsibilities, and keep your trekking operations running smoothly.</h5>
   <form class="d-flex justify-content-center mt-4" method="GET">
    <input
        class="form-control w-100 rounded-pill shadow"
        type="search"
        name="search"
        value="{{ search }}"
        placeholder="🔍 Search guides"
    >
</form>

<br>
<br>
<br>
{% if search %}
<div class="text-center mt-3">
    <a href="/admin/staff" class="btn btn-secondary">
        Back to All Staffs
    </a>
</div>
{% endif %}

{% if search %}
<h2 class="mb-4">Search Results for "{{ search }}"</h2>
{% else %}
<div class="card border-0 rounded-4 text-white p-4"
     style="background: linear-gradient(135deg,#43cea2,#185a9d);">
    
    <h3> Create New Staff</h3>
    <p>Add a new staff to the platform.</p>

    <a href="/admin/staff/create_staff"
       class="btn btn-light">
        Create Staff
    </a>
</div>
<br>
<br>
<h2 class="mb-4">Available Staffs</h2>
{% endif %}

<br>

    <div class="row">

        {% for s in staff %}
        <div class="col-md-4 mb-4">

            <div class="card shadow p-3">

                <h5>{{ s.staff_name }}</h5>

                <p><strong>ID:</strong> {{ s.staff_id }}</p>
                <p><strong>Email:</strong> {{ s.email }}</p>
                <p><strong>Status:</strong> {{ s.status }}</p>

            
                {% if s.is_blacklisted %}
                    <span class="badge bg-danger">Blacklisted</span>
                
                {% else %}
                    <span class="badge bg-success">Added</span>
                {% endif %}
                <br>
            


                <div class="d-flex justify-content-center gap-4">

                   

                    <a href="/admin/staff/remove/{{ s.staff_id }}" class="btn btn-danger btn-sm">
                        Remove
                    </a>
                    
                {% if s.is_blacklisted  %}

                    <a href="/admin/staff/approve/{{ s.staff_id }}" class="btn btn-secondary btn-success">
                        Approve
                    </a>
                
                
                {% else %}
                
                    <a href="/admin/staff/blacklist/{{ s.staff_id }}" class="btn btn-secondary btn-danger">
                        Blacklist
                    </a>
                
                
                {% endif %}
                    </div>
                </div>

            </div>

        
        {% endfor %}

    </div>

</div>

</body>
</html>