<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body{
            overflow: hidden;
        }
    </style>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    
    <a class="navbar-brand fw-bold">TrekVista</a>

    <div class="ms-auto">
        <a href="{{ url_for('home') }}" class="btn btn-outline-light">
            Back
        </a>
    </div>

</nav>
    <div class="container-fluid d-flex justify-content-center align-items-center"
    style="
    height:100vh;
    background-image:url('/static/images/login_bg.webp');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
">
     
<div class="container mt-3">

    <div class="card shadow p-4 mx-auto" style="max-width: 400px;">

        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} text-center">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

        <h3 class="text-center ">Welcome back.<br>

            Log in and start exploring.</h3>

        <form method="POST">

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
            <label>Select your role</label>
            <select name="role" class="form-select" required>
                
                <option value="trekker">Trekker</option>
                <option value="guide" >Guide</option>
            </select>
            </div>

            <button class="btn btn-dark w-100">Login</button>
            
        </form>
            <p class="text-center mt-3">
    don't have an account? 
    <a href="/" class="text-primary">Home</a>
</p>
            
        </div>

    </div>

</div>


</body>
</html>