<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <style>
        body {
             background: linear-gradient(
        135deg,
        #fce7f3,
        #ede9fe,
        #dbeafe);}

        .alert {
    animation: fadeout 5s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
</style>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    
    <a class="navbar-brand fw-bold">TrekVista</a>
        <div class="ms-auto">
        <a href="/user/bookings" class="btn text-white">
            History
        </a>
        
        <a href="/" class="btn text-white">
            Logout
        </a>
    
    </div>

</nav>


                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

<div class="container-fluid py-3">

    <div class="row g-3">
<div class="col-lg-3">

    <div class="card shadow rounded-4 border-0">

        <div class="card-body text-center p-4">

            <!-- Profile Icon -->
            <i class="bi bi-person-circle display-1 text-primary"></i>

            <h4 class="fw-bold mt-3 mb-1">
                {{ user.user_name }}
            </h4>

            

            <hr>
<br>
            <div class="text-start text-center">
                <p class=" mb-2">
                <strong>Email:</strong>  {{ user.email }}
            </p>
                <p class=" mb-2">
                <strong>Contact:</strong>  {{ user.mobile}}
            </p>


                <p class="mb-2">
                    <strong>Joined:</strong> {{ user.created_at.strftime('%d %b %Y') }}
                </p>
<br>
            </div>

            <a href="/user/edit_profile/{{ user.user_id}}"
                           class="text-decoration-none">

                            <div class="card border-0 shadow rounded-4 trek-card">

                                <div class="card-body text-center text-white"
                                     style="background:linear-gradient(135deg,#00b09b,#96c93d);">

                                    <h5 class="fw-bold mt-3">
                                        Edit Profile
                                    </h5>

                                </div>

                            </div>

                        </a>
        </div>

    </div>

</div>
        <!-- Hero Banner -->
        <div class="col-lg-9">

            <div class="rounded-4 shadow d-flex flex-column justify-content-center p-5"
                 style="
                    height:350px;
                    background-image:url('/static/images/user_dashboard.jpg');
                    background-size:cover;
                    background-position:top;
                    background-repeat:no-repeat;
                 ">

                <h1 class="fw-bold text-dark text-center">
                    Let's get started!<br>
                    {{ user.user_name }}
                </h1>

                <form method="GET"
                      action="{{ url_for('user_dashboard') }}"
                      class="row g-3 mt-5">
                    <br>
                    <div class="col-md-4">
                        <select name="location" class="form-select">
                            <option value="">All Locations</option>
                            {% for loc in locations %}
                            <option value="{{ loc[0] }}" {% if location==loc[0] %}selected{% endif %}>
                                {{ loc[0] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <select name="difficulty" class="form-select">
                            <option value="">All Difficulties</option>
                            <option value="Easy">Easy</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Hard">Hard</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary w-100">
                            Search
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
<br>
{% if location or difficulty %}
<div class="text-center mt-3">
    <a href="{{ url_for('user_dashboard') }}"
       class="btn btn-secondary">
        Back to All Treks
    </a>
</div>
{% endif %}

{% if location or difficulty %}
<h2 class="mb-4 text-center">
    Search Results
</h2>
{% else %}
<h2 class="mb-4 text-center">
    AVAILABLE TREKS
</h2>
{% endif %}
<br>


<div class="container my-5">
    <div class="row">
        {%if treks %}
        {% for trek in treks  %}
        <div class="col-md-4 mb-4">

            <div class="card shadow p-3 text-center">
                
              <h5 class="card-title text-capitalize text-center">{{ trek.trek_name }}</h5>
              <hr>
                    <p><strong>location: </strong> {{ trek.location if trek.location else "N/A" }}</p>
                    <p><strong>Difficulty: </strong> {{ trek.difficulty }}</p>
                    <p><strong>Duration: </strong>{{ trek.duration if trek.duration else 'Not set' }} days</p>
                    <p><strong>Available slots: </strong>{{ trek.available_slots if trek.available_slots else 'Not set' }}</p>
                    <p><strong>Assigned guide:  </strong>{{ trek.staff.staff_name if trek.staff else "Not Assigned" }}</p>
                    
                    {% if trek.trek_id in applied %}
    <button class="btn btn-secondary w-100" disabled>
        Already Booked
    </button>
{% else %}
    <form action="/user/apply/{{ trek.trek_id }}" method="POST">
        <button type="submit" class="btn btn-primary w-100">
            BOOK
        </button>
    </form>
{% endif %}
                </div>
            </div>

       

        
        {% endfor %}
{% else %}
<h1 class="text-center fw-bold">Nothing To See Here</h1>


{% endif %}
    </div>

</div>
</div>
</body>
</html>